.container {
  padding-top: 40px;
  position: relative;
}
.popup {
  display: none;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 400px;
  background-color: var(--iron-black);
  border: 1px solid var(--molten-orange);
  border-radius: 25px;
  z-index: 500;
}
.popup > svg {
  position: absolute;
  font-size: 2rem;
  color: var(--forge-red);
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 504;
}
.popup form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popup input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
}
.popup label {
  cursor: pointer;
  background-color: var(--charcoal-gray);
  border-radius: 12px;
  border: 1px solid var(--molten-orange);
  padding: 5px 10px;
  font-weight: 500;
  color: var(--ash-white);
  margin: 10px 0;
  position: absolute;
  z-index: 501;
  top: 40px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 120px);
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.popup label svg {
  font-size: 5rem;
  color: var(--ember-yellow);
}
.popup label span {
  font-size: 0.8rem;
}
.popup button {
  background-color: var(--molten-orange);
  border: 1px solid var(--molten-orange);
  border-radius: 12px;
  padding: 5px 10px;
  font-weight: 900;
  color: var(--ash-white);
  margin: 10px 0;
  cursor: pointer;
  transition-duration: 0.3s;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 503;
}
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 499;
}
.popup.active,
.overlay.active {
  display: block;
}
.profileInfoContainer {
  background-color: var(--iron-black);
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  padding: 30px 20px;
  border: 1px solid var(--molten-orange);
  border-radius: 25px;
  margin-bottom: 30px;
}
.profilePic {
  background-color: var(--charcoal-gray);
  border: 1px solid var(--molten-orange);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}
.profilePic img {
  border-radius: 50%;
}
.uploadPhoto {
  position: absolute;
  top: -0px;
  right: -0px;
  border-radius: 50%;
  background-color: var(--molten-orange);
  transition-duration: 0.3s;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.uploadPhoto:hover {
  background-color: var(--forge-red);
}
.uploadPhoto svg {
  font-size: 1rem;
}
.otherInfo {
  margin-top: 10px;
}
.otherInfo svg {
  color: var(--molten-orange);
}
.profileInfo span {
  opacity: 0.5;
  text-transform: capitalize;
}
.profileSocials {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.profileSocials a {
  font-size: 1.5rem;
  transition-duration: 0.3s;
}
.profileSocials a:hover {
  color: var(--molten-orange);
}
.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}
.aside {
  padding: 20px 20px;
  border-radius: 25px 25px 0 0;
  background-color: var(--iron-black);
  border: 1px solid var(--molten-orange);
  border-bottom: none;
  min-height: calc(100vh - 325px);
}
.aside h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sectionList {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.sectionList li {
  background-color: var(--charcoal-gray);
  padding: 5px 10px;
  font-size: 0.8rem;
  border: 1px solid var(--molten-orange);
  border-radius: 12px;
}
.aside .section {
  line-height: 1.5;
  margin: 15px 0;
  border: 1px solid var(--molten-orange);
  background-color: var(--charcoal-gray);
  padding: 20px;
  border-radius: 12px;
}
.aside .section svg {
  color: var(--molten-orange);
}
.aside .section p {
  margin-bottom: 10px;
}
.aside .section span {
  opacity: 0.5;
  font-size: 0.8rem;
}
.aside .section p {
  line-height: 1.2;
}
.sectionDescription {
  opacity: 0.6;
}
.description {
  background-color: var(--charcoal-gray);
  border: 1px solid var(--molten-orange);
  border-radius: 25px;
  padding: 0px 20px 30px;
}
.description p {
  opacity: 0.6;
  font-size: 1rem;
  line-height: 1.5;
}
.editBtn {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
}
.userProjects > h3 {
  margin: 20px 0;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .profileInfoContainer {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 75px;
  }
  .profileSocials {
    bottom: 30px;
    top: auto;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .aside {
    border-bottom: 1px solid var(--molten-orange);
    border-radius: 25px;
  }
  .popup {
    width: 90%;
  }
}
