.sidebar {
  overflow-y: auto;
  border-right: 1px solid var(--iron-black);
  transition-duration: 0.5s;
  height: 100%;
  z-index: 101;
}

.sidebar h1 {
  margin: 0;
  margin-left: 20px;
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  background-color: var(--iron-black);
  border: 1px solid var(--iron-black);
  box-shadow: -2px 2px 10px var(--iron-black);
  border-radius: 25px;
  padding: 10px 15px;
  transition-duration: 0.3s;
}
.search:focus-within,
.search:hover {
  border: 1px solid var(--molten-orange);
}
.search input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--ash-white);
}
.search button {
  color: var(--ash-white);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.search button:hover {
  color: var(--molten-orange);
}
.contacts {
  list-style: none;
}
.contact {
  position: relative;
  transition-duration: 0.3s;
  border-radius: 20px 0 0 20px;
  margin-bottom: 5px;
}
.contact:not(:last-child) {
  border-bottom: 1px solid var(--iron-black);
}
.contact a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.contact .userImage {
  background-color: var(--iron-black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ash-white);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid var(--charcoal-gray);
  transition-duration: 0.3s;
  outline: none;
  position: relative;
  overflow: hidden;
}
.contact .name {
  color: var(--ash-white);
}
.contact.active,
.contact:hover {
  background-color: var(--iron-black);
}
.contact.active .userImage,
.contact:hover .userImage {
  background-color: var(--charcoal-gray);
  border-color: var(--molten-orange);
  color: var(--molten-orange);
}
.contact .time {
  position: absolute;
  top: 20px;
  right: 10px;
  opacity: 0.5;
  font-size: 0.9rem;
  transition-duration: 0.3s;
}
.contact .message {
  opacity: 0.6;
  font-size: 0.9rem;
}
.noContacts {
  text-align: center;
  padding: 30px;
  color: var(--ash-white);
  font-size: 1.2rem;
  opacity: 0.5;
}
.activeContact {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45px;
  left: 50px;
  background-color: var(--iron-black);
  box-shadow: -2px 2px 10px var(--iron-black);
  border-radius: 50%;
  padding: 10px;
  color: var(--ash-white);
  cursor: pointer;
  border: 1px solid var(--iron-black);
  transition-duration: 0.3s;
  display: none;
  z-index: 100;
}
.activeContact:hover {
  border: 1px solid var(--molten-orange);
}
.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--ash-white);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
  display: none;
}
.closeBtn:hover {
  color: var(--molten-orange);
}
@media (max-width: 991px) {
  .sidebar {
    position: absolute;
    width: 260px;
    left: -300px;
  }
  .sidebar.active {
    left: 0;
    padding-top: 50px;
    background-color: var(--iron-black);
    border-right: 1px solid var(--molten-orange);
    border-top: 1px solid var(--molten-orange);
    border-top-right-radius: 25px;
    height: calc(100vh - 92px);
    width: 260px;
  }
  .activeContact {
    display: block;
  }
  .closeBtn {
    display: block;
  }
}
@media (max-width: 500px) {
  .activeContact {
    left: 10px;
  }
}
