.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  margin-right: 8px;
}
.navbar .logo strong {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--ash-white);
}
.navbar .navMenu {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.navbar .navMenu li > a {
  transition-duration: 0.3s;
  position: relative;
  padding: 20px 0;
}
.navbar .navMenu a:hover {
  color: var(--molten-orange);
}
.navbar .notifications {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navbar .notifications svg {
  color: var(--ash-white);
  font-size: 2rem;
  transition-duration: 0.3s;
}
.navbar .notifications svg:hover {
  color: var(--molten-orange);
}
.ember {
  border: 1px solid var(--molten-orange);
  background-color: var(--iron-black);
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.ember a {
  transition-duration: 0.3s;
}
.emberCount {
  font-weight: 500;
  font-size: 1.2rem;
}
.navbar .userImg {
  background-color: var(--iron-black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ash-white);
  cursor: pointer;
  font-weight: 500;
  border: 1px solid var(--molten-orange);
  transition-duration: 0.3s;
  outline: none;
  position: relative;
  overflow: hidden;
}
.navbar .userImg img {
  pointer-events: all;
}
.userMenuOverlay {
  width: 0vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  transition-duration: 0.5s;
}
.userMenu {
  width: 0px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--iron-black);
  border-right: 1px solid var(--molten-orange);
  border-radius: 5px;
  z-index: 201;
  transition-duration: 0.5s;
}
.userMenu > svg {
  position: absolute;
  font-size: 2rem;
  color: var(--forge-red);
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 202;
}
.userMenu .ember {
  display: none;
}
.userMenu li {
  width: 249px;
  padding: 40px 20px 0;
}
.userMenu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  transition-duration: 0.3s;
  position: relative;
}
.userMenu li a:hover {
  color: var(--molten-orange);
}
.userMenu li:not(:first-child) a::before,
.userMenu li:not(:last-child) a::before {
  content: "";
  background-color: var(--charcoal-gray);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -20px;
  right: 0;
  opacity: 0.5;
}
.userMenuOverlay.active {
  width: 100vw;
}
.userMenu.active {
  width: 250px;
}
@media (max-width: 991px) {
  .navbar .userImg {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }
  .navbar .ember img {
    width: 30px;
    height: 30px;
  }
  .navbar .navMenu {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .navbar .ember {
    display: none;
  }
  .userMenu .ember {
    display: flex;
    background-color: var(--charcoal-gray);
  }
}
@media (max-width: 500px) {
  .userMenu li {
    width: 199px;
    padding: 30px 10px 0;
  }
  .userMenu.active {
    width: 200px;
  }
}
