.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  min-height: calc(100vh - 90px);
  position: relative;
  padding-top: 50px;
}
@media (max-width: 991px) {
  .container {
    grid-template-columns: 1fr;
  }
}
