.error-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.error-container::before,
.error-container::after {
  content: "";
  width: 40%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.2;
}
.error-container::before {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: var(--molten-orange);
  box-shadow: 0 0 200px 200px var(--molten-orange);
}
.error-container::after {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background-color: var(--forge-red);
  box-shadow: 0 0 200px 200px var(--forge-red);
}
.error-container nav .container {
  padding: 20px;
}
.error-container nav .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.error-container nav .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-weight: 700;
}
.error-container nav .container ul a {
  transition-duration: 0.3s;
}
.error-container nav .container ul a:hover {
  color: var(--molten-orange);
}
.error-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error-container > .container {
  min-height: calc(100vh - 90px);
  gap: 20px;
}
.error-container > .container h1 {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: left;
  margin: 30px 0;
}
.error-container > .container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.error-container > .container p {
  font-size: 1rem;
  margin: 0 0 10px !important;
  font-weight: 400;
  line-height: 1.2;
}
.error-container button {
  background-image: linear-gradient(
    -45deg,
    var(--ember-yellow) 0%,
    var(--molten-orange) 50%,
    var(--forge-red) 100%
  );
  background-size: 400% 400%;
  color: var(--ash-white);
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 900;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  animation: gradient 2s infinite ease-in-out;
}
@media (max-width: 991px) {
  .error-container > .container {
    text-align: center;
    margin: auto !important;
    flex-direction: column;
  }
  .error-container > .container h1 {
    margin: 50px auto 30px;
  }
}
@media (max-width: 767px) {
  .error-container > .container h1 {
    font-size: 2.5rem;
  }
  .error-container nav .container {
    flex-direction: column;
  }
  .error-container nav ul {
    align-items: center;
  }
  .error-container .image img {
    width: 100%;
  }
}
