.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--molten-orange);
  outline: none;
  border-radius: 4px;
  background-color: var(--charcoal-gray);
  font-size: 16px;
  color: var(--ash-white);
  transition: border-color 0.3s ease;
}

.dropdown:focus {
  background-color: var(--ash-white);
  border-color: var(--molten-orange);
  color: var(--charcoal-gray);
  outline: none;
}

.dropdown option {
  color: var(--ash-black);
  padding: 10px;
}
