.dropdown {
  background-color: var(--iron-black);
  border: 1px solid var(--iron-black);
  border-radius: 20px;
  margin-bottom: 15px;
  transition-duration: 0.3s;
  width: 100%;
  max-height: 70px;
  overflow: hidden;
  transition-duration: 0.3s;
  position: relative;
}
.dropdown h3 {
  width: fit-content;
  color: var(--ash-white);
}
.head {
  background-color: var(--iron-black);
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
}
.head button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--ash-white);
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-left: auto;
}
.head button:hover {
  color: var(--molten-orange);
}
.hint {
  position: relative;
}
.hint svg {
  pointer-events: all;
  margin-left: 5px;
  color: var(--ash-white);
  opacity: 0.7;
  transition-duration: 0.3s;
}
.hint svg:hover {
  opacity: 1;
  color: var(--molten-orange);
}
.hint svg:hover + span {
  opacity: 1;
}
.hint span {
  position: absolute;
  min-width: 150px;
  max-width: 250px;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  background-color: var(--charcoal-gray);
  border: 1px solid var(--molten-orange);
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  color: var(--ash-white);
  opacity: 0;
  transition: opacity 0.3s;
}
.show {
  border: 1px solid var(--molten-orange);
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--charcoal-gray);
  border-radius: 0;
}
.show .head {
  border-radius: 0;
  border-bottom: 1px solid var(--molten-orange);
}
.show h3 {
  color: var(--molten-orange);
}
.body {
  margin-top: 30px;
  padding: 0 20px;
}
.item {
  background-color: var(--iron-black);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}
.item a {
  display: block;
  width: fit-content;
  color: var(--ash-white);
  margin-bottom: 10px;
  transition-duration: 0.3s;
}
.item a:hover {
  color: var(--molten-orange);
  text-decoration: underline;
}
.item span {
  opacity: 0.7;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.item h4 {
  color: inherit;
  font-size: 1.2rem;
}
.item p {
  opacity: 0.7;
  font-size: 0.8rem;
  line-height: 1.4;
  word-break: break-all;
}
.btn {
  display: block;
  background-color: var(--molten-orange);
  color: var(--ash-white);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  width: fit-content;
  margin-top: 20px;
  margin-left: auto;
  transition: 0.3s;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--forge-red);
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 400;
}
.edit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: var(--ash-white);
  cursor: pointer;
  font-size: 1.2rem;
  transition-duration: 0.3s;
}
.edit:hover {
  color: var(--molten-orange);
}
.delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--ash-white);
  cursor: pointer;
  font-size: 1.2rem;
  transition-duration: 0.3s;
}
.delete:hover {
  color: var(--forge-red);
}
.popup {
  display: none;
  padding: 20px;
  background-color: var(--charcoal-gray);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid var(--molten-orange);
  z-index: 500;
}
.overlay.active,
.popup.active {
  display: block;
}
.popup h3 {
  margin-bottom: 10px;
}
.popup .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.popup .buttons .btn {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .hint svg {
    display: none;
  }
  .body {
    padding: 0 10px;
  }
  .item {
    padding: 20px 10px;
  }
}
