.dashboard {
  padding: 50px 0 0;
}
.dashboard h1 {
  margin: 0;
  text-align: left;
}
.dashboard h1 + p {
  margin: 10px 0;
  text-align: left;
}
.dashboard .tabs {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin-bottom: 30px;
  padding: 20px 0 0;
  position: relative;
}
.dashboard .tabs::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--ash-white);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}
.dashboard .tabs li {
  opacity: 0.6;
  cursor: pointer;
  padding-bottom: 15px;
  transition-duration: 0.3s;
  position: relative;
}
.dashboard .tabs li.active {
  opacity: 1;
  color: var(--ember-yellow);
}
.dashboard .tabs li::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--ember-yellow);
  position: absolute;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.dashboard .tabs li.active::before {
  width: 100%;
}
.dashboard .project {
  margin: 0 0 30px;
  padding: 40px 20px;
  background-color: var(--iron-black);
  border: 2px solid var(--molten-orange);
  box-shadow: -1px 1px 2px var(--molten-orange);
  border-radius: 25px;
  position: relative;
}
.dashboard .project .date {
  opacity: 0.6;
  font-size: 0.9rem;
}
.dashboard .project h3 {
  font-size: 1.5rem;
  margin: 5px 0 20px;
}
.dashboard .project .projectOwner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.dashboard .project .projectOwner span {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.dashboard .project .projectOwner span:first-child a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dashboard .project .projectOwner span:first-child a:hover {
  text-decoration: underline;
}
.dashboard .project .projectOwner span svg {
  color: var(--molten-orange);
}
.dashboard .project p {
  opacity: 0.6;
  line-height: 1.5;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.dashboard .project .skills {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.dashboard .project .skills li {
  background-color: var(--charcoal-gray);
  border: 1px solid var(--molten-orange);
  padding: 7px 15px;
  font-size: 0.8rem;
  border-radius: 25px;
  cursor: pointer;
}
.dashboard .project .projectGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}
.dashboard .project .budget {
  background-color: var(--charcoal-gray);
  border: 1px solid var(--molten-orange);
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard .project .save {
  color: var(--ember-yellow);
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--charcoal-gray);
  border: 1px solid var(--molten-orange);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.noProjects p {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-top: 10px;
}
.btn {
  display: block;
  text-align: right;
}

@media (max-width: 500px) {
  .dashboard .project {
    padding: 70px 20px 30px;
  }
}
