.table {
  margin: 30px auto;
  width: 95%;
  overflow-x: auto;
  /* background-color: var(--iron-black); */
  text-align: center;
  box-shadow: -1px 1px 5px 0px var(--molten-orange);
}
.table table {
  width: 100%;
  border-color: var(--molten-orange);
  border-collapse: collapse;
}
.table th,
.table td {
  border-color: var(--molten-orange);
  padding: 10px 5px;
  width: fit-content;
}
.table th {
  background-color: var(--steel-blue);
  background-color: var(--iron-black);
  font-weight: 900;
}
.table td {
  color: var(--ash-white);
  opacity: 0.8;
}
@media (max-width: 991px) {
  .table th,
  .table td {
    min-width: 200px;
  }
}
@media (max-width: 767px) {
  .table th,
  .table td {
    min-width: 150px;
  }
}
